@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="background-color:aquamarine">

    Version: @Model.TheVersion
    <br /><br />

    <b>Environment Information</b>
    <textarea rows="20" cols="100">@Model.GetEnvironmentInfo()
        </textarea>

    <hr />

</div>
